<header>
    <a [routerLink]="'/dashboard'" class="logo">
        <img src="assets/SoftwareXYZlogo.png" alt="SoftwareXYZ Logo">
    </a>
    <h1>Effort Tracking & Summary</h1>
    <a [routerLink]="'/dashboard'" class="home-icon">
        <img src="assets/HomeIcon2.png" alt="Home Button" width="40" height="40">
    </a>
</header>
<main>
    <h2>Project Name: {{ effortTrackingData[0]?.project?.name }}</h2>
    <h3>Effort Tracking</h3>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Requirements Analysis</th>
                <th>Design</th>
                <th>Coding</th>
                <th>Testing</th>
                <th>Project Management</th>
            </tr>
        </thead>
        <tbody>
            <!-- Show a message if no effort tracking data is found -->
            <tr *ngIf="effortTrackingData?.length === 0">
                <td colspan="6">No effort tracking data found.</td>
            </tr>

            <!-- Loop through the filtered effort tracking data -->
            <tr *ngFor="let effort of effortTrackingData">
                <td>{{ effort.entryDate | date:'mediumDate' }}</td>
                <td>{{ effort.reqsAnalysis }}</td>
                <td>{{ effort.design }}</td>
                <td>{{ effort.coding }}</td>
                <td>{{ effort.testing }}</td>
                <td>{{ effort.projMgmt }}</td>
            </tr>
        </tbody>
    </table>

    <button>Add New</button>

    <h3>Effort Summary</h3>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Requirements Analysis</th>
                <th>Design</th>
                <th>Coding</th>
                <th>Testing</th>
                <th>Project Management</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total</td>
                <td>{{ getTotal('reqsAnalysis') }}</td>
                <td>{{ getTotal('design') }}</td>
                <td>{{ getTotal('coding') }}</td>
                <td>{{ getTotal('testing') }}</td>
                <td>{{ getTotal('projMgmt') }}</td>
            </tr>
        </tbody>
    </table>
</main>
